<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/4fe31c0370.js" crossorigin="anonymous"></script>
  
  </head>
  <body>
      
      {% block nav %}
      
      {% endblock %}
      
      <br />
      
      {% block content %}
      
      {% endblock %}
  
  </body>
</html>